<div class="task-form container-fluid mt-3">
  <form [formGroup]="taskForm" (ngSubmit)="onSubmit()" class="row g-3">
    <div class="col-12 col-md-3col-12 col-md-3 position-relative">
      <label for="">Task</label>
      <input
        type="text"
        class="form-control"
        formControlName="taskName"
        [ngbTypeahead]="searchTask"
        [resultFormatter]="resultFormatter"
        [inputFormatter]="inputFormatter"
        [class.is-invalid]="taskForm.controls['taskName'].errors?.['required'] &&
      taskForm.controls['taskName'].touched"
        placeholder="Start typing to search tasks..."
      />

      @if (taskForm.controls['taskName'].errors?.['required'] &&
      taskForm.controls['taskName'].touched) {
      <div class="invalid-feedback position-absolute">Task is required.</div>
      }
    </div>

    <div class="col-12 col-md-3 position-relative">
      <label for="">Start</label>
      <div class="input-group">
        <input
          class="form-control"
          placeholder="yyyy-mm-dd"
          name="ds"
          formControlName="startDate"
          ngbDatepicker
          #s="ngbDatepicker"
          [class.is-invalid]="taskForm.controls['startDate'].errors?.['required'] &&
      taskForm.controls['startDate'].touched"
        />
        <button
          class="btn btn-outline-secondary bi bi-calendar3"
          (click)="s.toggle()"
          type="button"
        ></button>
      </div>
      @if (taskForm.controls['startDate'].errors?.['required'] &&
      taskForm.controls['startDate'].touched) {
      <div class="invalid-feedback d-block position-absolute">
        Start date is required.
      </div>
      }
    </div>

    <div class="col-12 col-md-3 position-relative">
      <label for="">End</label>
      <div class="input-group">
        <input
          class="form-control"
          placeholder="yyyy-mm-dd"
          name="de"
          formControlName="endDate"
          ngbDatepicker
          #e="ngbDatepicker"
          [class.is-invalid]="taskForm.controls['endDate'].errors?.['required'] &&
      taskForm.controls['endDate'].touched"
        />
        <button
          class="btn btn-outline-secondary bi bi-calendar3"
          (click)="e.toggle()"
          type="button"
        ></button>
      </div>
      @if (taskForm.controls['endDate'].errors?.['required'] &&
      taskForm.controls['endDate'].touched) {
      <div class="invalid-feedback d-block position-absolute">
        End date is required.
      </div>
      }
    </div>

    <div class="col-12 col-md-3 d-flex align-items-end">
      <button
        type="submit"
        class="btn btn-primary"
        [disabled]="taskForm.invalid"
      >
        Save
      </button>
    </div>
  </form>
</div>
